body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  gap: 10px;
  display: flex;
  text-transform: uppercase;
}

ul li a {
  color: #544335;
  font-weight: 600;
}

ul li a:hover {
  color: grey;
  border-radius: 3px;
}

h1 {
  color: #544335;
}

h1:hover {
  color: grey;
}

header {
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

/* index page */

.all-books-wrapper {
  margin: 20px 0;
  padding: 0 5%;
  border-bottom: 1px solid grey;
}

.inline-book-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding: 10px 0;
  transition: all 1s;
}

.inline-book-wrapper img {
  height: 200px;
  width: 150px;
  object-fit: cover;
}

.inline-book-wrapper:hover {
  background-color: #fffaa0;
  border: 1px solid grey;
  border-radius: 5px;
  transition: all 1s;
}

.city {
  width: 7%;
}

.title-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  color: green;
}

.price {
  font-weight: bold;
}

/* onebookpage */

.book-section {
  margin: 20px 0;
  padding: 0 5%;
}

.book-wrapper {
  margin-bottom: 20px;
}

.imgdlt {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.book-photo {
}

.remove-book {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 5px;
  transition: all 1ms ease;
  height: 30px;
}

.remove-book:hover {
  background-color: white;
  color: red;
  transition: all 1ms ease;
}

.upper-text {
  display: flex;
  justify-content: space-between;
}

.text-content {
}

.titleandcity {
}

.book-title {
}

.book-city {
  font-style: italic;
  margin-bottom: 20px;
}

.book-price {
  color: green;
}

.book-description {
}

.removed-message {
  color: red;
  text-align: center;
  margin: auto;
}

/* add book */

.book-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 5%;
}

.form-control {
  height: 1.5em;
}

.submit {
  text-transform: uppercase;
  background-color: green;
  color: white;
}

.submit:hover {
  background-color: teal;
}

.added-message {
  color: green;
  text-align: center;
  margin: auto;
}

footer {
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: #544335;
}

@media screen and (max-width: 650px) {
  header {
    flex-direction: column;
    height: 150px;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }

  .inline-book-wrapper {
    flex-direction: column;
    align-content: space-around;
  }

  .city {
    margin-bottom: 10px;
  }

  .price {
    margin-top: 10px;
  }
  .upper-text {
    display: block;
  }
  .imgdlt {
    flex-direction: column;
  }
  .book-photo {
    display: block;
    justify-content: center;
  }
  .submit {
    margin-bottom: 35px;
  }
}
